{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Page d'accueil</h2>

        {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-info">Message flash : {{ message }}</div>
        {% endfor %}

    <h3>Les 3 dernières annonces</h3>
    {{ render(controller('OCPlatformBundle:Advert:menu', {'limit': 3})) }}

    <h4><a href="{{ path('core_contact') }}" >Nous contacter</a></h4>

{% endblock %}
